security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AuthentificateurApp
            user_checker: App\Security\VerifUtilisateurChecker

            login_throttling:
                max_attempts: 3
                interval: '5 seconds'

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
            logout:
                path: app_deconnexion

    access_control:
        - { path: ^/moderation, roles: ROLE_MODERATOR }
        - { path: ^/profil, roles: ROLE_USER }
        - { path: ^/sujet, roles: ROLE_USER, methods: [POST] }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
